<%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js' %>
<%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js' %>
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1 class="title">CALENDAR  APP</h1>
    </div>
    <div class="col-lg-12 text-left">
      <h3>Source code</h3>
      <a href="https://github.com/lam09/rails_calendarapp.git">https://github.com/lam09/rails_calendarapp.git</a>
    </div>
<!--    <div class="row">-->
<!--      <div class='col-sm-6'>-->
<!--        <div class="form-group">-->
<!--          <div class='input-group'>-->
<!--            <label>Your name</label>-->
<!--            <input type='text' class="form-control" />-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
    <div class="text-right">
      <%= link_to "New Event", new_events_path %>
    </div>
<!--    <div class="text-left">-->
      <%#= link_to "From Today Event", events_path, :query => "fromToday" %>
<!--    </div>-->
    <div class="col-lg-12 form-group">
      <label for="">List Events</label>
      <table class="table">
        <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Created by</th>
        <th>Start</th>
        <th>END</th>
        </thead>
        <tbody>
        <%= render partial: "event",collection: @events, as: "event" %>
        <%#= render @users %>
        </tbody>
      </table>
    </div>
  </div>
</div>
